body {
    background-color: #f8e3e3;
}

header {
    background-color: #740000;
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 1%;
}

.titulo {
    font-family: Georgia, serif;
    color: white;
}

.menu {
    display: flex;
    margin-left: auto;
    gap: 20px;
    padding-right: 2%;
}

h2,
h3 {
    color: #740000;
    display: flex;
    justify-content: center;
    font-family: Georgia, serif;
    text-align: center;
}

.conteudo_contato {
    display: block;
    justify-self: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 50%;
    height: auto;
    margin: 20px;
}

#noticia {
    display: block;
    justify-self: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 50%;
    height: auto;
    margin: 20px;
}

img {
    width: 80%;
    border-radius: 5%;
    display: flex;
    justify-self: center;
}

p {
    font-family: Arial, sans-serif;
    display: flex;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#clima {
    display: block;
    justify-self: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 20%;
    height: auto;
    margin: 20px;
    margin-bottom: 5%;
}

#botao, #buscar {
    border-radius: 10px;
    border: 2px solid #740000;
    display: flex;
    justify-self: center;
    background-color: #f8e3e3;
    font-family: Arial, sans-serif;
    height: 30px;
    color: black;
    align-items: center;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#botao, #buscar:hover {
    display: flex;
    justify-content: center;
    background-color: #740000;
    color: white;
}

#botao, #buscar:active {
    display: flex;
    justify-content: center;
    background-color: #f8e3e3;
    color: #740000;
}

footer {
    background-color: #740000;
    color: white;
    font-family: Arial, sans-serif;
    display: block;
    text-align: center;
    justify-items: center;
    padding: 25px;
    margin-top: 40px;
}

.botao_contato {
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #36ff57;
    display: flex;
    justify-self: center;
    color: black;
    background-color: #d5ffd2;
    font-family: Arial, sans-serif;
    height: 25px;
    align-items: center;
    font-size: medium;
    padding: 5px;
}

.botao_contato:hover {
    border-radius: 10px;
    display: flex;
    justify-self: center;
    color: white;
    background-color: #36ff57;
    font-family: Arial, sans-serif;
    height: 25px;
    align-items: center;
    font-size: medium;
    padding: 5px;
}

.botao_contato:active {
    background-color: #d5ffd2;
}

.contato {
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
}

/* Media query - Tablets */
@media (min-width: 768px) and (max-width:1023px) {
    p {
        font-size: large;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    footer {
        font-size: larger;
    }

    .botao_contato {
        height: 30px;
        font-size: 22px;
    }

    .botao_contato:hover {
        height: 35px;
        width: 100px;
        font-size: 22px;
    }

    .contato {
        font-size: larger;
    }

    h3 {
        font-size: 22px;
        text-align: center;
    }

    #clima {
        width: 70%;
    }

    #buscar{
        width: 50%;
        justify-content: center;
        height: auto;
        padding: 4px;
    }
}

/* Media Query - Celular */
@media (max-width: 767px) {
    p {
        font-size: large;
    }

    #buscar{
        width: 50%;
        justify-content: center;
        height: auto;
        padding: 4px;
    }

    #clima {
        width: 80%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    footer {
        font-size: larger;
    }

    .botao_contato {
        height: 30px;
        font-size: 22px;
    }

    .botao_contato:hover {
        height: 35px;
        width: 100px;
        font-size: 22px;
    }

    .contato {
        font-size: larger;
    }

    h3 {
        font-size: 22px;
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}